[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[dev]
  # command = "npm run dev"
  # targetPort = 5173
  framework = "#static"
  publish = "dist"
  port = 9999

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
